spring:
  application:
    name: service0
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:1111/eureka/  #注册中心地址
  instance:
    hostname: localhost
    instance-id: http://localhost:2222
server:
  port: 2222
